@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animation-fade {
    @apply transition-all duration-300 ease-in-out;
  }

  .container-page {
    @apply max-w-[1200px] mx-auto;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Background when responsive menu is opened */
.css-8i0j0q {
  background: rgba(0, 0, 0, 0.2) !important;
}

.css-1wvake5 {
  border-right: 2px solid #cda184 !important;
}

/* Styles from tabs of the events */
.tag-link {
  color: #000000 !important;
  margin-top: 0 !important;
}

.border-primary {
  border-bottom: 2px solid #cda184 !important;
}

.tetabs {
  flex-wrap: nowrap !important;
}

.bg-primary-colour {
  background: #a85a26 !important;
}

.bg-primary-colour-hover:hover {
  background: rgba(185, 98, 40, 0.38) !important;
}

/* Set the default size to given areas below */
@media screen and (max-width: 599px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
}

/* Progress bar from events */
progress::-webkit-progress-value {
  background: #a85a26;
}
